.container{
    width:50vw;
    margin:auto;
  }
  .container>table, th, td {
    border: 1px solid;
  }
  
  td{
    width:200px;
    border:1px solid teal;
    height:50px;
    text-align: center;
    overflow: hidden;
  }
  td>button{
    padding:5px 25px;
    border-radius: 5px;
    color:white;
  }

  .buttonsContainer{
    display: flex;
    justify-content: space-between;
  }
  .buttonsContainer>button{
  padding:5px 25px;
  border-radius: 5px;
  }
  .blackButton{
    background-color: black;
    color:white
  }
  .redButton{
    background-color: red;
    color:white
  }
  .greenButton{
    background-color: green;
    color:white
  }
  .all{
    background-color: purple;
    color:white;
  }