.container{
    display:flex;
    position: absolute;
    top:50px;
    gap:2%;
    flex-wrap: wrap;
}
.card{
    box-sizing: border-box;
    width:23%;
    height:400px;
    margin-bottom: 30px;
    border:1px solid red;
}

img{
    border-radius: 10px;
    width:100%;
    height:100%;
}
.productTitle{
    position: relative;
    top:350px;
}
.productTitle>h1{
    position:relative;
    z-index: 6;
}
.productImage{
    position: relative;
    z-index: 5;
}
.productDescription{
    position: relative;
    top:350px;
    z-index: 6;
}
/* .productImage{
    width:300px;
    height:400px;
} */